@import '~bootstrap/scss/bootstrap';

.tricks-container {
  display: flex;

  @include row-cols(5);

  .trick-card {

  }
}

#trick-show {
  .picture-preview {
    max-height: 500px;
    width: 100%;
    object-fit: cover;
  }

  .pictures-attachments {

  }
}