@import '~bootstrap/scss/bootstrap';

.tricks-container {
  display: flex;

  @include row-cols(5);

  .trick-card {
    img {
      height: 150px;
      width: 100%;
      object-fit: cover;
    }
  }
}

#trickMediaCarousel .carousel-inner img {
  max-height: 600px;
}