Bonjour {{ user.firstname }} {{ user.lastname }} !
Quelqu'un a demandé à réinitialiser votre mot de passe. Vous pouvez le faire en suivant ce lien.

<a href="{{ absolute_url(path('user_new_password', {id: user.id, token: token})) }}" target="_blank">Réinitialiser mon mot de passe</a>
Si vous n'êtes pas à l'origine de cette demande, merci d'ignorer cet email.