<div class="px-2">
    <a href="{{ path('trick_show', {group_slug: trick.trickGroup.slug, trick_slug: trick.slug}) }}" class="text-decoration-none text-dark">
        <div class="card">
            <div class="card-head">
                <img src="https://via.placeholder.com/300x175" class="img-fluid" alt="">
            </div>
            <div class="card-body">
                {{ trick.name }}
            </div>
        </div>
    </a>
</div>